<div class="container">
{{!-- start site container --}}

    <img src="https://cdn.arstechnica.net/wp-content/uploads/2017/08/impossible-burgers.jpg" class="heroIMG center-block" alt="">
    <h1 class="text-center">Eat Da Burger</h1>

    <div class="col-md-6">
        <h2>Let's eat!</h2>
          <ul>
            {{#each burgers}}
              {{#unless devoured}}
                {{> burgers/burger-button devoured=false}}
              {{/unless}}
            {{/each}}
          </ul>
    </div>

    <div class="col-md-6">
        <h2>Burger's Devoured!</h2>
          <ul>
            {{#each burgers}}
              {{#if devoured}}
                {{> burgers/burger-block devoured=true}}
              {{/if}}
            {{/each}}
          </ul>
    </div>

    <div class="col-md-4"></div>
    <div class="col-md-4">
    
      <h2>Add a Burger</h2>
        <form class="create-form">

          <div class="form-group">
            <label for="burger">Burger Name:</label>
            <input type="text" id="newBurger" name="name">
          </div>

          <div class="form-group">
            <label for="burger_status">Confirm Purchase</label><br>
            <input type="radio" name="status" value="0"> Yes, I want this.
          </div>

          <button type="submit">Add Burger</button>
        </form>
    </div>
    <div class="col-md-4"></div>
  
{{!-- end site container --}}
</div>
